# ----------------------------------------Task- 1 / 2 (JOB_SERVER) --------------------------------------------------

TRANSPORT_TYPE_JOB_SERVER = "HTTP"   # [ SDTIO , HTTP ]
TRANSPORT_PORT_JOB_SERVER = 3001


# ----------------------------------------Task- 3 (CALL_LOG_SERVER) --------------------------------------------------

TRANSPORT_TYPE_CALL_LOG_SERVER = "HTTP"   # [ SDTIO , HTTP ]
TRANSPORT_PORT_CALL_LOG_SERVER = 3000
AUTH_TOKEN = "Bearer Abcxxxxxxxxxxxxxxxxxxxxxxxxx"



# ----------------------------------------Task- 3 (Agent) --------------------------------------------------
GOOGLE_API_KEY="YOUR_API_KEY"

# for client connection (server config)
JOB_SERVER_AUTH_TOKEN = "Bearer Abcxxxxxxxxxxxxxxxxxxxxxxxxx"
JOB_SERVER_URL = "http://localhost:3001/mcp"

CALL_LOG_SERVER_AUTH_TOKEN = "Bearer Abcxxxxxxxxxxxxxxxxxxxxxxxxx"
CALL_LOG_SERVER_URL = "http://localhost:3000/mcp"