GOOGLE_API_KEY="YOUR_API_KEY_PASTE_HERE"

TRANSPORT_TYPE_1 = "STDIO"   # SDTIO , HTTP
TRANSPORT_PORT_1 = 3000

TRANSPORT_TYPE_2 = "HTTP"   # SDTIO , HTTP
TRANSPORT_PORT_2 = 3000

TRANSPORT_TYPE_3 = "HTTP"   # SDTIO , HTTP
TRANSPORT_PORT_3 = 3001
AUTH_TOKEN = "AA....."